<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!-- Compiled and minified CSS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.min.js" charset="utf-8"></script>
    <script src="/javascripts/module.js" charset="utf-8"></script>
    <script src="/javascripts/controllers.js" charset="utf-8"></script>
    <script src="/javascripts/services.js" charset="utf-8"></script>
    <script src="/javascripts/main.js" charset="utf-8"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
  </head>
  <body ng-app='flashCardApp' ng-controller='cardCtrl'>

    <a ng-model='showNavBar' ng-click='' class="waves-effect waves-light btn-large yellow accent-3"><i class="material-icons left">view_list</i>Add card</a>

    <div class="container">
      <div class="row">
        <form class="col s12 newAlbumForm" ng-hide='newAlbumForm'>

          <div class="input-field col s4">
            <input ng-model='categoryInput' id="categoryInput" type="text" class="validate white-text">
            <label>Category</label>
          </div>
          <div class="input-field col s4">
            <input ng-model='questionInput' id="questionInput" type="text" class="validate white-text">
            <label>Question</label>
          </div>

            <div class="input-field col s3">
              <input id="comment" type="text" class="validate white-text">
              <label>Answer</label>
            </div>

            <a ng-model='addCardButton' ng-click='' class="addButton btn-floating btn-large waves-effect waves-light yellow accent-3"><i class="material-icons">add</i></a>
        </form>
      </div>
    </div>






    <div class="container-fluid">
      <div class="row" style="margin-left: 90px" ng-repeat='card in list track by $index'>
          <div class='initQuestionCard  col s2 z-depth-3 modal-trigger' href="#modal1">
            <img class='initQuestionGif' src="http://bit.ly/1polRSn" alt="?"/>
            <p class='initCategory'>{{card.category}}</p>
            <p class='initQuestion'>{{card.question}}</p>
          </div>
      </div>
    </div>




    <!-- sarted game -->
    <div class="container">
      <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
      	<div class="flipper">
          <!-- Question card -->
      		<div class="front">
            <div class="row">
              <div class='questionCard z-depth-5'>
                <img class='questionGif' src="http://bit.ly/1polRSn" alt="?"/>
                <h4 class='category'>Soccer</h4>
                <p class='question'>Who is the best soccer player in the world?</p>
              </div>
            </div>
      		</div>
          <!-- Answer card -->
      		<div class="back">
            <div class="row">
              <div class='answerCard z-depth-5'>
                <img class='answerGif' src="http://bit.ly/1pomFGR" alt=""/>
                <h5 class="answerTitle">Answer</h5>
                <h3 class="answer">Lionel Messi</h3>
              </div>
            </div>
      		</div>
      	</div>
      </div>
      <a class="newCardButton btn-floating btn-large waves-effect waves-light yellow accent-3"><i class="material-icons">add</i></a>
   </div>


    <!-- Modal Structure -->
    <div id="modal1" class="modal">
      <div class="modal-content">
        <div class="row">
          <div class="input-field col s4">
            <input id="category" type="text" class="validate">
            <label>Category</label>
          </div>
          <div class="input-field col s4">
            <input id="question" type="text" class="validate">
            <label>Question</label>
          </div>
          <div class="input-field col s4">
            <input id="answer" type="text" class="validate">
            <label>Answer</label>
          </div>
      </div>
      <div class="modal-footer">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Update</a>
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">cancel</a>
      </div>
    </div>



  </body>
</html>
